<html>
  <head>
    <meta chraset="UTF-8">
      <title>
        AUTORIZACIÓN DE DESCUENTO
      </title>
    <style type="text/css">
      .all-content{
        font-family: 'Times New Roman' !important;
      }
      .header-title {
        font-size: 14px !important;
        text-align: center;
        margin-top: 10px !important;
        margin-bottom: 15px !important;
      }
      .body-title{
        font-size: 12px !important;
        text-align: justify !important;
        margin-left: 70px !important;
        margin-right: 70px !important;
        line-height: 100% !important;
      }
      .body-content{
        font-family: 'Times New Roman', Times, serif !important;
        text-align: justify;
        font-size: 10px !important;
        margin-left: 70px !important;
        margin-right: 70px !important;
        margin-bottom: 30px !important;
      }
      .payment-title {
        font-size: 10px !important;
        font-family: 'Times New Roman', Times, serif !important;
        text-align: justify !important;
        font-weight: bold !important;
        margin-left: 70px !important;
        margin-right: 70px !important;
      }
      .signature-image{
        font-size: 10px !important;
        font-family: 'Times New Roman', Times, serif !important;
        margin-left: 0px ;
        margin-right: 70px;
        width: 65%;
      }
      .footer-confirmation{
        font-size: 10px !important;
        font-family: 'Times New Roman', Times, serif !important;
        text-align: justify !important;
        font-weight: bold !important;
        margin-left: 70px !important;
        margin-right: 70px !important;
      }
    </style>
  </head>
  <body>
    <div class="all-content">
      <div class="header-title">
        <p class="confirmation-title">
          <b>AUTORIZACIÓN DE DESCUENTO</b>
        </p>
      </div>
      <div class="body-title">
        <p class="confirmation-title">
          <b>REF: CRÉDITO AVANZO No.</b> {{idRequest}}
        </p>
        <p class="confirmation-title">
          <b>VALOR DEL CREDITO:</b>  {{quantity}}
        </p>
      </div>
      <br/>
      <div class="body-content">
        <p class="body-text">
          El(la) abajo firmante identificado(a) como aparece al pie la firma en mi calidad de funcionario con plena capacidad para el efecto, autorizo
          irrevocablemente a la pagaduría de la empresa {{company}} identificada con NIT {{nit}}, para que deduzca de mi salario ordinario,
          y/o compensaciones laborales a mi nombre, los valores correspondientes al pago de la obligación por mi adquirida con VICTORIA
          INVERSIONES S.A.S. (AVANZO) entidad identificada con NIT 901116431-9, y/o quien represente sus derechos de acuerdo con los
          siguientes montos _______________________({{quantity}}) de pesos colombianos en _____________ ({{split}}) cuotas
          mensuales, cada una por un valor de _______________ ({{splitQuantity}}) pesos colombianos.
        </p>
      </div>

      <div class="body-content">
        <p class="body-text">
          Dichas deducciones deberán ser giradas a VICTORIA INVERSIONES S.A.S. con NIT 901116431-9 y/o
          quien represente sus derechos, al número de cuenta de ahorro (  ) / cuenta corriente (  ) 
          No. ____________ del Banco ______________, a más tardar el día ________ de cada mes a partir
          del mes de ________________ del año _____ hasta completar el pago total de la obligación. 
        </p>
      </div>

      <div class="body-content">
        <p class="body-text">
          En el evento de causarse intereses de mora autorizo también la retención y entrega a VICTORIA
          INVERSIONES S.A.S. y/o quien represente sus derechos, de los montos correspondiente hasta por
          el valor de los mismos, según lo certifique dicha sociedad. Autorizo igualmente entregar a VICTORIA
          INVERSIONES S.A.S. y/o quien represente sus derechos el valor de las cuotas que deban pagársele
          durante el tiempo que permanezca en vacaciones, licencias e incapacidades, descontándolas del
          monto que se cause a mi favor. 
        </p>
      </div>

      <div class="body-content">
        <p class="body-text">
          En el caso de que llegare a producirse mi desvinculación laboral de la empresa durante el plazo
          de la obligación, autorizo irrevocablemente al pagador de esta entidad, para que deduzca de mi
          salario, bonificaciones, honorarios, comisiones, mesada mensual u otras remuneraciones existentes
          a mi favor los montos que resulten necesarios para cubrir el saldo de cualquier rubro adeudado a
          VICTORIA INVERSIONES S.A.S. y/o quien represente sus derechos, esto soportado en el código sustantivo
          del Trabajo y en la Ley 1527 de 2012. 
        </p>
      </div>

      <div class="body-content">
        <p class="body-text">
          Si ocurriera un cambio de empleador, autorizo a mi actual empleador a informar de dicha situación
          a VICTORIA INVERSIONES S.A.S. para dar cumplimiento al Art. 7° de la Ley 1527 de 2012. En caso de
          que la empresa a la cual me encuentro vinculado(a) por cualquier motivo no descuente y/o no pague
          oportunamente la(s) cuota(s) a VICTORIA INVERSIONES S.A.S. y/o quien represente sus derechos, no
          quedaré exonerado de la responsabilidad de pagar el crédito en la oportunidad acordada y los
          eventuales intereses de mora.
        </p>
      </div>

      <div class="body-content">
        <p class="body-text">
          Si por cualquier causa VICTORIA INVERSIONES S.A.S. realiza a mi nombre un desembolso duplicado y/o
          por una suma mayor a la solicitada y aprobada, autorizo a mi actual empleador o al pagador de la
          entidad para que el excedente recibido sea descontado de mi salario, bonificaciones, honorarios,
          comisiones, mesada mensual u otras remuneraciones existentes a mi favor hasta cubrir el valor total
          desembolsado, que voluntariamente no devolviese a VICTORIA INVERSIONES S.A.S. previa solicitud por
          escrito. 
        </p>
      </div>

      <div class="body-content">
        <p class="body-text">
          En el evento en que el Empleador, incumpla las obligaciones y autorizaciones aquí consagradas, se
          hará solidariamente responsable por el pago de la obligación adquirida por mi como beneficiario(a)
          del crédito de acuerdo al parágrafo 1° del Art. 6° de la Ley 1527 de 2012.  
        </p>
      </div>

      <div class="body-content">
        <p class="body-text">
          Así mismo el empleador se compromete a que como empleado(a) no reciba menos de cincuenta por ciento
          (50%) del neto de mi salario o pensión, después de los descuentos de Ley.  
        </p>
      </div>

      <div class="body-content">
        <p class="body-text">
          Manifiesto que el presente documento presta mérito ejecutivo, por contener una obligación expresa,
          clara y exigible a mi cargo, en consecuencia, VICTORIA INVERSIONES S.A.S. podrá exigir su cumplimiento
          por la vía judicial.   
        </p>
      </div>

      <div class="payment-title">
        <p class="confirmation-title">
          Instructivo de pago:
        </p>
      </div>

      <div class="body-content">
        <p class="body-text">
          <ol>
            <li>
              En caso de Liquidación definitiva de salarios, aportes y/o compensaciones se debe proceder de la
              siguiente manera:  a) Comuníquese al teléfono XXXXXXXX o correo electrónico XXXXXXXXXX de VICTORIA
              INVERSIONES S.A.S., donde le informarán el saldo total de la deuda y los canales de pago dispuestos
              para su cancelación. b) Retenga dicho saldo de mi salario, bonificaciones, honorarios, comisiones u
              otras remuneraciones. c) El saldo retenido debe ser pagado a través de los canales de pago dispuestos
              por VICTORIA INVERSIONES S.A.S, especificando el número de cedula del trabajador y el No. de la
              obligación que se está cancelando (No. de Crédito AVANZO referido en este documento). d) Una vez
              realizado el descuento de la liquidación definitiva y de presentarse saldo pendiente por cancelar de
              mi crédito autorizo a VICTORIA INVERSIONES S.A.S. a realizar el cambio de fuente de pago de mi
              obligación PERSONAL.
            </li>
            <li>
              La deducción de nómina se suspenderá cuando como empleado presente paz y salvo de la deuda expedido
              por VICTORIA INVERSIONES S.A.S.
            </li>
          </ol>
        </p>
      </div>
               
      
      <div class="footer-confirmation">
        <p class="footer-title">
          El documento fue firmado electrónicamente:
          </br>
          <ul>
            <li>
              Código Correo: {{emailCode}} - Hora de Firma: {{emailCodeDate}} 
            </li>
            <li>
              Código Celular: {{phoneCode}} - Hora de Firma: {{phoneCodeDate}}  
            </li>
          </ul>
          </br>
          FIRMA
          </br>
          NOMBRE Y APELLIDOS (COMPLETOS): {{name}} {{lastName}}
          </br>
          C.C. No. {{identificationId}} de ____________          
        </p>
      </div>

    </div>

  </body>

</html>
